<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_stylesheet.css') }}">
            <script type="text/javascript" src="{{ url_for('static', filename='my_script.js') }}"></script>
            <img src="{{ url_for('static', filename='ninja.png') }}">
    </head>
  <body>
    <h1>Application for Being a Ninja</h1>
    <form action="">
            <h2>Ninja Application</h2>
          Name: <input type="text" name="Name" id="name">
            
          Age: <input type="text" name="Age" id="Age">
            
          Desired Clan: <input type="text" name="Desired Clan" id="desired_clan">
      
        </form>
   
  </body>
</html>